/*=============== Google-Font ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  // font-family
  --montserrat-font: "Montserrat", sans-serif;

  // color
  --text-color: #4e5150;
  --gray-color: #bdbdbd;
  --light-gray-color: #e5e5e5;
}
